extends layout.pug

block content
  .container
    .content
      h1 Keep your life  
      b easy with tsk
      p Stay on top of your tasks and make the most of your time with our intuitive to-do list app.
      a(href="/new-task" class="home-button") Get Started
    .image-container
      img(src="/images/todo.jpg", alt="Image" width="700px")
